:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "playfair display", serif;
  --default-font-family: "poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 46px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  color: #272142;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.world-clock-image {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin-top: 40px;
}
.world-clock-image:hover {
  transform: scale(1.05);
}
.project-description {
  padding: 40px 60px;
}

.weather-app-description {
  margin-top: 40px;
  padding: 40px 60px;
}

.weather-forecast-image {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.weather-forecast-image:hover {
  transform: scale(1.05);
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 32px;
  }
  .project-description {
    padding: 0px;
    text-align: center;
  }
}
